<div class="container">
  <h1>Dashboard</h1>
<br/>
  <div class="left-col">
    <ul class "list-group">
      <li>
        <%= link_to raw("<span class=\"glyphicon glyphicon-plus\"></span> Create New Invoice"), new_invoice_path,
            class: "btn btn-default btn-lg" %>
      </li>
      <li>
      <%= link_to raw("<span class=\"glyphicon glyphicon-search\"></span> Search All Invoices"), search_invoices_path,
            class: "btn btn-default btn-lg" %>
      </li>
      <li>
        <%= link_to raw("<span class=\"glyphicon glyphicon-list-alt\"></span> View All Invoices"), invoices_path,
            class: "btn btn-default btn-lg" %>
      </li>
    </ul>
    </div>

    <div class="right-col">
      <ul class "list-group">
        <li>
          <%= link_to raw("<span class=\"glyphicon glyphicon-plus\"></span> Create New Customer"), new_customer_path,
              class: "btn btn-default btn-lg" %>
        </li>
        <li>
        <%= link_to raw("<span class=\"glyphicon glyphicon-search\"></span> Search All Customers"), search_customers_path,
              class: "btn btn-default btn-lg" %>
        </li>
        <li>
          <%= link_to raw("<span class=\"glyphicon glyphicon-list-alt\"></span> View All Customers"), customers_path,
              class: "btn btn-default btn-lg" %>
        </li>
      </ul>
    </div>
  </div>
</div>
