<div class="container">
  <h1>Dashboard</h1>
  <br/>
  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle btn btn-default" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          <span class="glyphicon glyphicon-th-list"></span>Invoices
        </a>
      </div>
      <div id="collapseOne" class="accordion-body collapse">
        <div class="accordion-inner">
          <ul class "list-group">
            <li>
              <%= link_to raw("<span class=\"glyphicon glyphicon-plus\"></span> Create New Invoice"), new_invoice_path,
                  class: "btn btn-default btn-lg" %>
            </li>
            <li>
            <%= link_to raw("<span class=\"glyphicon glyphicon-search\"></span> Search All Invoices"), search_invoices_path,
                  class: "btn btn-default btn-lg" %>
            </li>
            <li>
              <%= link_to raw("<span class=\"glyphicon glyphicon-list-alt\"></span> View All Invoices"), invoices_path,
                  class: "btn btn-default btn-lg" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle btn btn-default" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          <span class="glyphicon fa fa-child"></span>Customers
        </a>
      </div>
      <div id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
          <ul class "list-group">
            <li>
              <%= link_to raw("<span class=\"glyphicon glyphicon-plus\"></span> Create New Customer"), new_customer_path,
                  class: "btn btn-default btn-lg" %>
            </li>
            <li>
            <%= link_to raw("<span class=\"glyphicon glyphicon-search\"></span> Search All Customers"), search_customers_path,
                  class: "btn btn-default btn-lg" %>
            </li>
            <li>
              <%= link_to raw("<span class=\"glyphicon glyphicon-list-alt\"></span> View All Customers"), customers_path,
                  class: "btn btn-default btn-lg" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle btn btn-default" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          <span class="glyphicon fa fa-newspaper-o"></span>Content Management System
        </a>
      </div>
      <div id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
          <ul class "list-group">
            <li>
              <%= link_to raw("<span class=\"glyphicon glyphicon-plus\"></span> Create New Customer"), new_customer_path,
                  class: "btn btn-default btn-lg" %>
            </li>
            <li>
            <%= link_to raw("<span class=\"glyphicon glyphicon-search\"></span> Search All Customers"), search_customers_path,
                  class: "btn btn-default btn-lg" %>
            </li>
            <li>
              <%= link_to raw("<span class=\"glyphicon glyphicon-list-alt\"></span> View All Customers"), customers_path,
                  class: "btn btn-default btn-lg" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
