<div class="container">
  <h1>New Invoice</h1>

  <%= form_for @invoice do |f| %>
    <div class="form-group">
      <%= f.label :invoice_number %>
      <%= f.text_field :invoice_number, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :date %>
      <%= f.text_field :date, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :make %>
      <%= f.text_field :make, class: 'form-control' %>

      <%= f.label :model %>
      <%= f.text_field :model, class: 'form-control' %>

      <%= f.label :serial_number %>
      <%= f.text_field :serial_number, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :street %>
      <%= f.text_field :street, class: 'form-control' %>

      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.label :state %>
      <%= f.text_field :state, class: 'form-control' %>

      <%= f.label :zip %>
      <%= f.text_field :zip, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :request %>
      <%= f.text_area :request, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :remarks %>
      <%= f.text_area :remarks, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :parts %>
      <%= f.text_field :parts, class: 'form-control' %>

      <%= f.label :tax %>
      <%= f.text_field :tax, class: 'form-control' %>

      <%= f.label :service_call %>
      <%= f.text_field :service_call, class: 'form-control' %>

      <%= f.label :labor %>
      <%= f.text_field :labor, class: 'form-control' %>

      <%= f.label :total %>
      <%= f.text_field :total, class: 'form-control' %>
    </div>

    <%= f.submit 'Create Invoice', class: 'btn btn-primary' %>
  <% end %>
</div>
