

<h1 class="content-head is-center">About</h1>

<!-- two-column container -->
<div class="pure-g">

<!-- About Us container  -->
  <div class="pure-u-1 pure-u-md-1-2 about">
    <a class="plain" name="about-us"><h2 class="content-head">About Us</h2></a>


        <%= image_tag  "ottos-sign.png", class: "pure-img-responsive about-picture" %>
        <section class="blurb">
          Otto's Appliance Service, Inc. was founded by Otto Fusaro in 1957.
          Otto started this business with a love for repair and helping people.
        </section>



        <%= image_tag  "nanu-collage.png", class: "pure-img-responsive about-picture" %>
        <section class="blurb">
           Otto's warm personality and prompt, efficient service built this buisiness into what it is today. Gradually, all
          three of his sons joined him to truly form a family business.
        </section>


        <%= image_tag  "newspaper.png", class: "pure-img-responsive about-picture" %>
        <section class="blurb">
           Otto's is unique in that we has been servicing Thermador for almost 60 years.
           We also service Bosch, Kitchenaid, GE, Whirlpool, Maytag, Kenmore, and Insinkerator.
        </section>


        <%= image_tag  "uncle-otto.png", class: "pure-img-responsive about-picture" %>
        <section class="blurb">
          Each of our technicians has over 30 years of experience. Our experience and dependability is what separates us from many
          other companies.
        </section>

        <%= image_tag  "uncleT-and-Dad.png", class: "pure-img-responsive about-picture" %>
        <section class="blurb">
          We at Otto's try hard to minimize our customer's downtime.
          We schedule our appointments within two hours and routinely call customers at work up to 30 minutes ahead.
       </section>



        <%= image_tag  "uncleT-shop.png", class: "pure-img-responsive about-picture" %>
        <section class="blurb">
          What makes us most proud is our reputation for being fair, honest, reliable, and our long list of loyal customers.
          Our goal is and always has been to satisfy our customers.
        </section>


<hr class="divider divider-about"/>



  </div>

<!--Reviews container  -->
  <div class="pure-u-1 pure-u-md-1-2">
    <a name="reviews" class="plain"><h2 class="content-head"> Reviews </h2></a>
    <span> Find us on <a class="yelp-link" href="http://www.yelp.com/biz/ottos-appliance-service-millbrae"><i class="fa fa-yelp">Yelp</i></a></span>

    <div class="pure-u-1 reviews">

      <!-- review 1 -->
      <article class="review">
        <span class="review-date">10/17/2014</span>
        <span class="review-rating"><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i></span>
        <div class="reviewer-info">
          <img alt="gary m." class="pure-img-responsive reviewer-picture" height="60" src="//s3-media3.fl.yelpcdn.com/photo/C-KyVjRASE85Xz7EooyodA/60s.jpg" width="60">
          <ul class="info-contents">
          <li><strong><%= link_to "Gary M.","http://www.yelp.com/biz/ottos-appliance-service-millbrae?hrid=WW87yC3j6PrdNNz_RSgVJw", class: "reviewer-name" %></strong></li>
          <li class="reviewer-location">Redwood City</li>
          </ul>
        </div>
        <p class="review-content"> I only recommend the best and guess what, this company from the office to the techs is way above the rest. So do yourself a favor if your appliance is broken save yourself time and money and give them a call.</p>
      </article>

      <hr class="divider">

      <!-- review 2-->
      <article class="review">
        <span class="review-date">5/15/2014</span>
        <span class="review-rating"><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i></span>
        <div class="reviewer-info">
          <img alt="Laura M." class="pure-img-responsive reviewer-picture" height="60" src="//s3-media3.fl.yelpcdn.com/photo/2an6JIOIJiiAkOU3WVtCWQ/60s.jpg" width="60">
          <ul class="info-contents">
            <li><strong><%= link_to "Laura M.","http://www.yelp.com/biz/ottos-appliance-service-millbrae?hrid=r1Tce_nklHt28eZ6PaSf6A", class: "reviewer-name" %></strong></li>
            <li class="reviewer-location">Burlingame</li>
          </ul>
        </div>
        <p class="review-content">Old Bosch broke down again, and Otto's was able to show up same day - with the part needed to fix it!  He even helped clean out the other parts and provided guidance on proper loading etc.  Lucky to have Otto's.</p>
      </article>

      <hr class="divider">

      <!-- review 3 -->
      <article class="review">
        <span class="review-date">3/22/2013</span>
        <span class="review-rating"><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i></span>
        <div class="reviewer-info">
          <img alt="Vahe K." class="pure-img-responsive reviewer-picture" height="60" src="//s3-media3.fl.yelpcdn.com/photo/XQcyMMeQTDk4ViK-utQERQ/60s.jpg" width="60">
          <ul class="info-contents">
            <li><strong><%= link_to "Vahne K.","http://www.yelp.com/biz/ottos-appliance-service-millbrae?hrid=t8tiRxTXAFWs78nmqxIsAA", class: "reviewer-name" %></strong></li>
            <li class="reviewer-location">Palo Alto</li>
          </ul>
        </div>
        <p class="review-content">Angelo just came my and fixed by Bosch Dishwasher - we don't need too many words here - the guy is a total pro, a great guy, fantastic attitude, called out things and helped clarify issues to prevent future issues, had all the parts, had all the tools, his depth of knowledge was encyclopedic. Here is a rough quote:

          "Let me see what kind of soap you use for this dishwasher....ok, tablets, the thing about tablets is they have a generic level of soap and that level is adjusted to the hard water areas of the central states, now Palo Alto does have a 50/50 mix of hard water, it's not so bad, especially on the north side of Palo Alto."

          Now, I include this quote for those astute enough to know the words of a master, I won't get into his discussion on the nuances of solenoids or the importance of how one prepares dishes for the dishwasher - nor will I mention his comments about the subtitles of chord changes in Beatles songs or a whole host of other things discussed - all during a quick visit.

          If Yelp had the equivalent of American Idol - Angelo would be tough to beat.

          PS: look at my other east coast shitty reviews if you think I am soft.</p>
      </article>

      <hr class="divider">

      <!-- review 4 -->
      <article class="review">
        <span class="review-date">8/11/2013</span>
        <span class="review-rating"><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i></span>
        <div class="reviewer-info">
          <img alt="Mar D." class="pure-img-responsive reviewer-picture" height="60" src="//s3-media3.fl.yelpcdn.com/photo/WtR8kuiXA_ClA9mmw-33Og/60s.jpg" width="60">
          <ul class="info-contents">
            <li><strong><%= link_to "Mar D.","http://www.yelp.com/biz/ottos-appliance-service-millbrae?hrid=vLVxGNGX658UZHktgrmyyQ", class: "reviewer-name" %></strong></li>
            <li class="reviewer-location">San Francisco</li>
          </ul>
        </div>
        <p class="review-content">Very good service! Their friendly technician showed up on time and answered all of my questions. The repair to our Bosch washing machine came well within the estimated price I was given over the phone. Will use them again !</p>
      </article>

      <hr class="divider to-hide">

    </div>
  </div>
</div>
