



<div class="banner-container">

</div>

<div class="content-wrapper">
  <!-- one-column container -->
  <div class="pure-g about-g">

    <!-- About Us container  -->
    <a class="plain" name="about-us"><h2 class="content-head is-center">About Us</h2></a>

    <div class="container-about_us is-center">
        <div class="ribbon pure-u-1 pure-u-md-1 about">

          <%= image_tag  "Ottos_OldFront.png", class: "pure-img-responsive about-picture" %>
          <%= image_tag  "nanu-collage.png", class: "pure-img-responsive about-picture nanu" %>
          <%= image_tag  "newspaper2.png", class: "pure-img-responsive about-picture" %>
        </div>

        <div class="l-box-lg blurb-container is-center">
          <p class="blurb">
            Otto's Appliance Service, Inc. was founded by Otto Fusaro in 1957.<br/>
            Otto started this business with a love for repair and helping people.<br/>
            Otto's warm personality and prompt, efficient service built this buisiness into what it is today.
            <br/>Gradually, all
            three of his sons joined him to truly form a family business.
          </p>
        </div>

        <div class="ribbon pure-u-1 pure-u-md-1 about">

          <%= image_tag  "uncle-otto.png", class: "pure-img-responsive about-picture" %>
          <%= image_tag  "uncleT-and-Dad.png", class: "pure-img-responsive about-picture nanu" %>
          <%= image_tag  "uncleT.png", class: "pure-img-responsive about-picture" %>
        </div>

        <div class="l-box-lg blurb-container is-center">
          <p class="blurb">
            Otto's is unique in that we has been servicing Thermador for almost 60 years.<br/>
            We also service Bosch, Kitchenaid, GE, Whirlpool, Maytag, Kenmore, and Insinkerator.<br/>
            Each of our technicians has over 30 years of experience. <br/>Our experience and dependability is what separates us from many
            other companies.
          </p>
        </div>


        <div class="ribbon pure-u-1 pure-u-md-1 about">

          <%= image_tag  "ottos-sign2.png", class: "pure-img-responsive about-picture" %>
          <%= image_tag  "nanu-collage.png", class: "pure-img-responsive about-picture nanu" %>
          <%= image_tag  "newspaper2.png", class: "pure-img-responsive about-picture" %>
        </div>


        <div class="l-box-lg blurb-container is-center">
          <p class="blurb">
            We at Otto's try hard to minimize our customer's downtime.<br/>
            We schedule our appointments within two hours and routinely call customers at work up to 30 minutes ahead.<br/>
            What makes us most proud is our reputation for being fair, honest, reliable, and our long list of loyal customers.<br/>
            Our goal is and always has been to satisfy our customers.
          </p>
          <hr class="divider"/>
        </div>
    </div>
    <hr class="divider"/>

    <!--Reviews container  -->
    <div class="pure-u-1 pure-u-md-1">
      <a name="reviews" class="plain"><h2 class="content-head is-center"> Reviews </h2></a>
      <span> Find us on <a class="yelp-link" href="http://www.yelp.com/biz/ottos-appliance-service-millbrae"><i class="fa fa-yelp">Yelp</i></a></span>

      <div class="pure-u-1 reviews">

        <!-- review 1 -->
        <article class="review">
          <span class="review-date">10/17/2014</span>
          <span class="review-rating"><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i></span>
          <div class="reviewer-info">
            <img alt="gary m." class="pure-img-responsive reviewer-picture" height="60" src="//s3-media3.fl.yelpcdn.com/photo/C-KyVjRASE85Xz7EooyodA/60s.jpg" width="60">
            <ul class="info-contents">
              <li><strong><%= link_to "Gary M.","http://www.yelp.com/biz/ottos-appliance-service-millbrae?hrid=WW87yC3j6PrdNNz_RSgVJw", class: "reviewer-name" %></strong></li>
              <li class="reviewer-location">Redwood City</li>
            </ul>
          </div>
          <p class="review-content"> I only recommend the best and guess what, this company from the office to the techs is way above the rest. So do yourself a favor if your appliance is broken save yourself time and money and give them a call.</p>
        </article>

        <hr class="divider"/>

        <!-- review 2 -->
        <article class="review">
          <span class="review-date">11/14/2014</span>
          <span class="review-rating"><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i></span>
          <div class="reviewer-info">
            <img alt="John S." class="pure-img-responsive reviewer-picture" height="60" src="//s3-media3.fl.yelpcdn.com/assets/srv0/yelp_styleguide/20983a63ea50/assets/img/default_avatars/user_60_square.png" width="60">
            <ul class="info-contents">
              <li><strong><%= link_to "John S.","http://www.yelp.com/biz/ottos-appliance-service-millbrae?hrid=o20M5_O1ytAM6ITBJpcV_w", class: "reviewer-name" %></strong></li>
              <li class="reviewer-location">Belmont</li>
            </ul>
          </div>
          <p class="review-content"> Otto really knows his stuff. Pricing was fair, and he was highly knowledgeable and professional. Highly recommended.</p>
        </article>

        <hr class="divider"/>

        <!-- review 3-->
        <article class="review">
          <span class="review-date">5/15/2014</span>
          <span class="review-rating"><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i></span>
          <div class="reviewer-info">
            <img alt="Laura M." class="pure-img-responsive reviewer-picture" height="60" src="//s3-media3.fl.yelpcdn.com/photo/2an6JIOIJiiAkOU3WVtCWQ/60s.jpg" width="60">
            <ul class="info-contents">
              <li><strong><%= link_to "Laura M.","http://www.yelp.com/biz/ottos-appliance-service-millbrae?hrid=r1Tce_nklHt28eZ6PaSf6A", class: "reviewer-name" %></strong></li>
              <li class="reviewer-location">Burlingame</li>
            </ul>
          </div>
          <p class="review-content">Old Bosch broke down again, and Otto's was able to show up same day - with the part needed to fix it!  He even helped clean out the other parts and provided guidance on proper loading etc.  Lucky to have Otto's.</p>
        </article>

        <hr class="divider"/>

        <!-- review 4-->
        <article class="review">
          <span class="review-date">2/13/2014</span>
          <span class="review-rating"><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i></span>
          <div class="reviewer-info">
            <img alt="Mary B." class="pure-img-responsive reviewer-picture" height="60" src="//s3-media3.fl.yelpcdn.com/assets/srv0/yelp_styleguide/20983a63ea50/assets/img/default_avatars/user_60_square.png" width="60">
            <ul class="info-contents">
              <li><strong><%= link_to "Mary B.","http://www.yelp.com/biz/ottos-appliance-service-millbrae?hrid=l4RJ1PbOq0kogXsleoTWqA", class: "reviewer-name" %></strong></li>
              <li class="reviewer-location">Redwood City</li>
            </ul>
          </div>
          <p class="review-content">Two years after my original review, I had a problem with my Garbage disposal.  They diagnosed my problem over the phone and walked me through fixing it saving me a service call.  How great is that?!</p>
        </article>

        <hr class="divider"/>

        <!-- review 5 -->
        <article class="review">
          <span class="review-date">9/27/2013</span>
          <span class="review-rating"><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i></span>
          <div class="reviewer-info">
            <img alt="Astrid S." class="pure-img-responsive reviewer-picture" height="60" src="//s3-media3.fl.yelpcdn.com/assets/srv0/yelp_styleguide/20983a63ea50/assets/img/default_avatars/user_60_square.png" width="60">
            <ul class="info-contents">
              <li><strong><%= link_to "Astrid S.","http://www.yelp.com/biz/ottos-appliance-service-millbrae?hrid=86Fm6e-OYOd75drIZrCbtA", class: "reviewer-name" %></strong></li>
              <li class="reviewer-location">San Mateo</li>
            </ul>
          </div>
          <p class="review-content">Otto's service was excellent.
            From the front office to Angelo, our technician, the service was friendly and knowledgeable.
            Agree with other reviewers who said he is a total pro.
            I couldn't agree more, took care of all my issues to my satisfaction, charged a fair price, and was exceedingly pleasant to deal with.
            What a pleasure, after dealing with so many service providers that seem like they couldn't care less.
            So happy I called them!</p>
          </article>

          <hr class="divider"/>

          <!-- review 6 -->
          <article class="review">
            <span class="review-date">8/11/2013</span>
            <span class="review-rating"><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i><i class="fa fa-star fa-x"></i></span>
            <div class="reviewer-info">
              <img alt="Mar D." class="pure-img-responsive reviewer-picture" height="60" src="//s3-media3.fl.yelpcdn.com/photo/WtR8kuiXA_ClA9mmw-33Og/60s.jpg" width="60">
              <ul class="info-contents">
                <li><strong><%= link_to "Mar D.","http://www.yelp.com/biz/ottos-appliance-service-millbrae?hrid=vLVxGNGX658UZHktgrmyyQ", class: "reviewer-name" %></strong></li>
                <li class="reviewer-location">San Francisco</li>
              </ul>
            </div>
            <p class="review-content">Very good service! Their friendly technician showed up on time and answered all of my questions. The repair to our Bosch washing machine came well within the estimated price I was given over the phone. Will use them again !</p>
          </article>


          <hr class="divider to-hide">

        </div>
      </div>
    </div>

</div>
