<a name="contact-us" class="plain"><h1 class="content-head is-center">Contact Us</h1></a>

<div class="content">

  <div class="pure-g">
    <div class="l-box-lrg pure-u-1 pure-u-lg-2-5">
      <div class="contact-info-box ottos-info">

        <div class="hours is-center">
          <strong>Hours</strong>: 8am - 5pm, Monday - Thursday
          <br/> 8am - 3pm, Friday
          <br/>(Closed 12-1pm)
        </div>
        <table class="pure-table pure-table contact-info">
          <tbody>
            <tr>
              <td class="contact-td"><i class="fa fa-phone fa-2"></i></td>
              <td class="contact-td"><strong> 650-588-0309 </strong></td>
            </tr>
            <tr>
              <td class="contact-td"><i class="fa fa-envelope fa-2"></i></td>
              <td class="contact-td"><strong> services@ottosappliance.com </strong></td>
            </tr>
            <tr>
              <td class="contact-td"><i id="map-marker" class="fa fa-map-marker fa-2"></i></td>
              <td class="contact-td"><strong> 1663 El Camino Real, Millbrae, CA 94030 </strong></td>
            </tr>
          </tbody>
        </table>


      </div>
      <hr class="divider"/>
      <h4>Shoot us an email.</h4>




          <%= form_tag(submit_email_path, method: "post", class: "pure-form pure-form-stacked") do %>
            <fieldset>
            <%= text_field_tag(:name, nil, placeholder: "Name" ) %>
            <%= text_field_tag(:phone, nil, placeholder: "Phone Number") %>
            <%= email_field(:email, nil, placeholder: "Email") %>
            <%= text_area_tag(:message, nil, placeholder: "Enter your message...") %>
            <%= submit_tag('Send', class: "send") %>
          <% end %>
        </fieldset>
      </form>
    </div>

    <div class="l-box-lrg pure-u-1 pure-u-lg-3-5 map-container">


      <div id="google-map"></div>


    </div>
</div>





</div>
