<!-- <h1> Otto's Appliance Service Inc. </h1> -->


<div class="splash-container home">
  <div class="splash">
    <h1 class="splash-head">Otto's Appliance Service Inc.</h1>
    <p class="splash-subhead subhead">
      Serving prompt, reliable appliance repairs since 1957.
    </p>
    <!-- Celebrating 60 years ribbon -->
  <div class="ribbon-container one">

    <div class="bk l">
      <div class="arrow top"></div>
      <div class="arrow bottom"></div>
    </div>

    <div class="skew l"></div>

    <div class="main">
      <div>Celebrating <span>60</span> years of service</div>
    </div>

    <div class="skew r"></div>

    <div class="bk r">
      <div class="arrow top"></div>
      <div class="arrow bottom"></div>
    </div>

  </div>
  </div>
</div>


<div class="content-wrapper home">
  <div class="content video">
    <h2 class="content-head is-center">Welcome.</h2>
    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-lg-3-5 vid">
          <div class="video-home">
            <!-- 16:9 aspect ratio -->
            <video id="ottos-video" class="video-js vjs-default-skin "
              controls preload="auto" width="100%" height="300px"
              poster="/assets/nanu.jpg"
              data-setup='{"example_option":true}'>
              <source src="http://cf.c.ooyala.com/J1bjI0cTpletnaKA7_rZR2iUsIWpTyEg/DOcJ-FxaFrRg4gtDEwOjEzYzowazumG4?_=daocht73nmi" type='video/mp4' />
              <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
            </video>
          </div>
      </div>
      <div class="l-box pure-u-1 pure-u-lg-2-5">
        <div class="ottos-info">

          <h2 class="content-subhead">Otto's Appliance Service</h2>

          <div class="hours is-center">
            <strong>Hours</strong>: 8am - 5pm, Monday - Thursday
            <br/> 8am - 3pm, Friday
            <br/>
            (Closed 12-1pm)
          </div>
          <table class="pure-table pure-table contact-info">
            <tbody>
              <tr>
                <td class="contact-td"><i class="fa fa-phone fa-2x"></i></td>
                <td class="contact-td"><strong> 650-588-0309 </strong></td>
              </tr>
              <tr>
                <td class="contact-td"><i class="fa fa-envelope fa-2x"></i></td>
                <td class="contact-td"><strong> ottos94030@gmail.com </strong></td>
              </tr>
              <tr>
                <td class="contact-td"><i id="map-marker" class="fa fa-map-marker fa-2x"></i></td>
                <td class="contact-td"><strong> 1663 El Camino Real, Millbrae, CA 94030 </strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <section class="ribbon l-box-lrg pure-g brand-images">
    <h2 class="content-head content-head-ribbon brand-title">Brands We Service</h2>

    <div class="pure-u-1 pure-u-md-1-4 is-center">
      <%= image_tag  "Thermador.png", class: "pure-img-responsive brand" %>
    </div>

    <div class="pure-u-1 pure-u-md-1-4 is-center">
      <%= image_tag  "Bosch.png", class: "pure-img-responsive brand" %>
    </div>

    <div class="pure-u-1 pure-u-md-1-4 is-center">
      <%= image_tag  "Insinkerator.png", class: "pure-img-responsive brand" %>
    </div>
    <div class="pure-u-1 pure-u-md-1-4 is-center">
      <%= image_tag  "Kitchenaid.png", class: "pure-img-responsive brand" %>
    </div>
    <div class="pure-u-1 pure-u-md-1-4 is-center">
      <%= image_tag  "Maytag.png", class: "pure-img-responsive brand" %>
    </div>
    <div class="pure-u-1 pure-u-md-1-4 is-center">
      <%= image_tag  "GE_Appliances.png", class: "pure-img-responsive brand" %>
    </div>
    <div class="pure-u-1 pure-u-md-1-4 is-center">
      <%= image_tag  "Kenmore.png", class: "pure-img-responsive brand" %>
    </div>
    <div class="pure-u-1 pure-u-md-1-4 is-center">
      <%= image_tag  "Whirlpool.png", class: "pure-img-responsive brand" %>
    </div>
  </section>

  <div class="l-box-lg pure-g testimonials-container">
    <h2 class="content-head is-center">Customer Testimonials</h2>

    <div class="pure-u-1 pure-u-md-3-5 testimonial">
      <article class="testimonial">
        <div class="testimonial-arrow left">
        </div>
        <i class="fa fa-quote-left"></i>
        <p>Outstanding customer service, professional and prompt.</p>
        <i class="fa fa-quote-right"></i>
        <div class="author">Mary Ann, Redwood City</div>
      </article>


      <article class="testimonial">
        <div class="testimonial-arrow left">
        </div>
        <i class="fa fa-quote-left"></i>
        <p> On time, professional, and a good value. This is what local business should be.</p>
        <i class="fa fa-quote-right"></i>
        <div class="author">Dean, Burlingame</div>
      </article>


      <article class="testimonial">
        <div class="testimonial-arrow left">
        </div>
        <i class="fa fa-quote-left"></i>
        <p> This company from the office to the techs is way above the rest.</p>
        <i class="fa fa-quote-right"></i>
        <div class="author">Gary, Redwood City</div>
      </article>
    </div>
  </div>


  <!-- FOOTER -->

  <div class="footer footer-top l-box pure-g">
    <section class="pure-u-1 pure-u-md-1-3 is-center">

      <h4><strong>Company Information</strong></h4>
      <ul class="col1">
        <li><a href="/about#about-us" class="plain">About</a></li>
        <li><a href="/about#reviews" class="plain">Reviews</a></li>
        <li><a href="/contact-us#contact-us" class="plain">Contact Us</a></li>
      </ul>
    </section>
    <section class="pure-u-1 pure-u-md-1-3 is-center">
      <h4><strong>Our Services</strong></h4>
      <ul class="col2">
        <li><a href="/services#appliances" class="plain">Appliances</a></li>
        <li><a href="/services#brands" class="plain">Brands</a></li>
        <li><a href="/services#locations" class="plain">Locations</a></li>
      </ul>
    </section>
    <section class="pure-u-1 pure-u-md-1-3 is-center yelp">
      <div>
        <a href="http://www.yelp.com/biz/ottos-appliance-service-millbrae" class="plain"><i class="fa fa-yelp"></i>Yelp</a>
      </div>
    </section>
  </div>

  <section class="footer l-box is-center">
    &copy;<%= Time.now.year %> Otto's Appliance, Inc. All rights reserved.
  </section>
</div>
