<h1 class="content-head is-center">Services</h1>

<div class="pure-g">
  <div class="pure-u-1 is-center brand-images">
    <section class="services-content brands">
      <i class="fa fa-cubes fa-2x service-icon brands"></i>
      <a name="brands" class="plain"><h2 class="content-subhead services-title"><strong>Brands</strong></h2></a>

      <div class="pure-u-1 pure-u-md-1 footer-brands">
        Factory Authorized Service
      </div>

      <div class="pure-u-1 pure-u-md-1-5 is-center">
        <%= image_tag  "brand-color/Thermador.png", class: "pure-img-responsive brand auth" %>
      </div>

      <div class="pure-u-1 pure-u-md-1-5 is-center">
        <%= image_tag  "brand-color/Bosch.png", class: "pure-img-responsive brand auth" %>
      </div>

      <div class="pure-u-1 pure-u-md-1-5 is-center">
        <%= image_tag  "brand-color/Insinkerator.png", class: "pure-img-responsive brand auth" %>
      </div>
    </section>
  </div>

  <div class="pure-u-1 pure-u-md-1-2 is-center left-container-services">

    <section class="services-content appliances">

      <i class="fa fa-wrench fa-2x service-icon appliance"></i>
      <a name="appliances" class="plain"><h2 class="content-subhead"><strong>Appliances</strong></h2></a>
      <ul class="appliances">

        <div class="pure-u-1 pure-u-md-1-4 is-center appliance">
          <%= image_tag  "appliance-icons/oven.png", class: "pure-img-responsive appliance" %>
          <li> Ovens </li>
        </div>

        <div class="pure-u-1 pure-u-md-1-4 is-center appliance">
          <%= image_tag  "appliance-icons/range.png", class: "pure-img-responsive appliance" %>
          <li> Ranges </li>
        </div>
        <div class="pure-u-1 pure-u-md-1-4 is-center appliance">
          <%= image_tag  "appliance-icons/cooktop.png", class: "pure-img-responsive appliance" %>
          <li> Cooktops </li>
        </div>
        <div class="pure-u-1 pure-u-md-1-4 is-center appliance">
          <%= image_tag  "appliance-icons/microwave.png", class: "pure-img-responsive appliance" %>
          <li> Microwaves </li>
        </div>
        <div class="pure-u-1 pure-u-md-1-4 is-center appliance">
          <%= image_tag  "appliance-icons/dishwasher.png", class: "pure-img-responsive appliance" %>
          <li> Dishwashers </li>
        </div>
        <div class="pure-u-1 pure-u-md-1-4 is-center appliance">
          <%= image_tag  "appliance-icons/disposal.png", class: "pure-img-responsive appliance" %>
          <li> Disposals </li>
        </div>
        <div class="pure-u-1 pure-u-md-1-4 is-center appliance">
          <%= image_tag  "appliance-icons/hot-water-dispenser.png", class: "pure-img-responsive appliance" %>
          <li> Hot Water Dispensers </li>
        </div>
      </ul>

    </section>
  </div>



  <div class="pure-u-1 pure-u-md-1-2 is-center right-container-services">
    <section class="services-content locations">
      <i class="fa fa-compass fa-2x service-icon location"></i>
      <a name="locations" class="plain"><h2 class="content-subhead"><strong>Locations</strong></h2></a>
      <div class="pure-u-1 pure-u-md-1-2">
        <ul class="locations-1">
          <li>San Francisco</li>
          <li>Pacifica</li>
          <li>Daily City</li>
          <li>Brisbane</li>
          <li>San Bruno</li>
          <li>South San Francisco</li>
          <li>Millbrae</li>
          <li>Burlingame</li>
          <li>Hillsborough</li>
          <li>San Mateo</li>
          <li>Foster City</li>
          <li>Redwood Shores</li>
          <li>Redwood City</li>
          <li>Woodside</li>
          <li>Portola Valley</li>
          <li>Menlo Park</li>
          <li>Palo Alto</li>
        </ul>
      </div>
    </section>

  </div>

</div>
<br />