<!DOCTYPE html>
<html>
  <head>
    <title>Ottos Appliance Service</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Cantata+One|Arvo|Syncopate|Montserrat+Alternates|Josefin+Sans|Crete+Round|Gloria+Hallelujah|Exo|Righteous|Allerta|Karla|Oxygen|Montserrat|Exo+2|Abril+Fatface|Handlee|Vidaloka|Rock+Salt|Merriweather+Sans|Varela+Round' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top custom-nav" role="navigation">
      <div class="container">
        <div class="navbar-header">
            <% if current_user %>
              <%= link_to "Otto's Appliance Service", admin_dashboard_path, class: "navbar-brand" %>
            <% else %>
              <%= link_to "Otto's Appliance Service", site_path, class: "navbar-brand" %>
            <% end %>
          <!-- <a class="navbar-brand" href="#">Otto's Appliance Service</a> -->
        </div>
        <% if current_user %>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Invoices <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to raw("<span class=\"glyphicon glyphicon-plus\"></span> New Invoice"), new_admin_invoice_path %></li>
                  <li><%= link_to raw("<span class=\"glyphicon glyphicon-search\"></span> Search Invoices"), admin_search_invoices_path %></li>
                  <li><%= link_to raw("<span class=\"glyphicon glyphicon-list-alt\"></span> View All Invoices"), admin_invoices_path %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Customers <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to raw("<span class=\"glyphicon glyphicon-plus\"></span> New Customer"), new_admin_customer_path %></li>
                  <li><%= link_to raw("<span class=\"glyphicon glyphicon-search\"></span> Search Customers"), admin_search_customers_path %></li>
                  <li><%= link_to raw("<span class=\"glyphicon glyphicon-list-alt\"></span> View All Customers"), admin_customers_path %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admins <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to raw("<span class=\"glyphicon glyphicon-plus\"></span> New Admin"), new_admin_user_path %></li>
                  <li><%= link_to raw("<span class=\"glyphicon glyphicon-list-alt\"></span> View All Admins"), admin_users_path %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">CMS <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to raw("<span class=\"glyphicon glyphicon-plus\"></span> New Admin"), new_admin_customer_path %></li>
                  <li><%= link_to raw("<span class=\"glyphicon glyphicon-search\"></span> Search Customers"), admin_search_customers_path %></li>
                  <li><%= link_to raw("<span class=\"glyphicon glyphicon-list-alt\"></span> View All Customers"), admin_customers_path %></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle username" data-toggle="dropdown"><span class="glyphicon fa fa-cog"></span><span class="username"><%= current_user.name %></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Accounts</a></li>
                  <li><a href="#">Settings</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><%= link_to "Logout", admin_logout_path %></li>
                </ul>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>

    <%= render "layouts/flash_messages" %>

    <div class="container">
      <%= yield %>
    </div>
  </body>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</html>
